#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define NAV 1
#define SYM 2
#define ADJ 3
#define EXTRA 4

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <180>;
            global-quick-tap;
        };

        para: para {
            compatible = "zmk,behavior-tap-dance";
            label = "PARA";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;
        };

        caps: caps {
            compatible = "zmk,behavior-caps-word";
            label = "CAPS";
            #binding-cells = <0>;
            continue-list = <MINUS BACKSPACE>;
        };

        paraless: paraless {
            compatible = "zmk,behavior-mod-morph";
            label = "PARALESS";
            bindings = <&kp LEFT_PARENTHESIS>, <&kp LESS_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        paragreat: paragreat {
            compatible = "zmk,behavior-mod-morph";
            label = "PARAGREAT";
            bindings = <&kp RIGHT_PARENTHESIS>, <&kp GREATER_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    macros {
        browsertab: browsertab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        copy: copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(C)>;
            label = "COPY";
        };

        paste: paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(P)>;
            label = "PASTE";
        };

        span_a: span_a {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&span_a>;
            label = "SPAN_A";
        };

        span_e: span_e {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&span_e>;
            label = "SPAN_E";
        };

        span_i: span_i {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&span_i>;
            label = "SPAN_I";
        };

        span_o: span_o {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&span_o>;
            label = "SPAN_O";
        };

        span_u: span_u {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&span_u>;
            label = "SPAN_U";
        };

        span_n: span_n {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&span_n>;
            label = "SPAN_N";
        };
    };

    combos {
        compatible = "zmk,combos";

        Copy {
            bindings = <&copy>;
            key-positions = <14 15>;
            timeout-ms = <0>;
            layers = <0>;
        };

        Paste {
            bindings = <&paste>;
            key-positions = <15 16>;
            timeout-ms = <0>;
            layers = <0>;
        };

        combo_test {
            bindings = <&kp PIPE>;
            key-positions = <14 16>;
            layers = <0 1 2 3 4>;
        };
    };

    //

    keymap {
        compatible = "zmk,keymap";

        DEF {
            display-name = "Base";

            // -----------------------------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |
            // |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |
            // |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&kp TAB         &kp Q               &kp W           &kp E               &kp R  &kp T                   &kp Y      &kp U      &kp I                    &kp O              &kp P                  &kp BACKSPACE
&kp CAPS        &kp A               &kp S           &kp D               &kp F  &kp G                   &kp H      &kp J      &kp K                    &kp L              &kp SEMI               &mt CAPS SQT
&kp LEFT_SHIFT  &hm LEFT_CONTROL Z  &hm LEFT_ALT X  &hm LEFT_COMMAND C  &kp V  &kp B                   &kp N      &kp M      &hm RIGHT_COMMAND COMMA  &hm RIGHT_ALT DOT  &hm LEFT_CONTROL FSLH  &mt RSHFT ENTER
                                                    &mo 4               &mo 1  &mt LEFT_SHIFT ENTER    &kp SPACE  &lt 2 TAB  &kp LG(GRAVE)
            >;
        };

        NAV {
            display-name = "NavNum";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&trans  &kp N1  &kp N2                &kp N3        &kp N4           &kp N5           &kp N6      &kp N7  &kp N8        &kp N9  &kp N0           &trans
&trans  &trans  &kp LS(LG(NUMBER_4))  &kp UP_ARROW  &browsertab      &kp PAGE_UP      &kp COLON   &kp N4  &kp N5        &kp N6  &kp KP_SUBTRACT  &kp PLUS
&trans  &trans  &kp LEFT              &kp DOWN      &kp RIGHT_ARROW  &kp PAGE_DOWN    &kp PERIOD  &kp N1  &kp N2        &kp N3  &kp SLASH        &kp KP_MULTIPLY
                                      &kp LGUI      &trans           &kp ENTER        &kp SPACE   &trans  &kp NUMBER_0
            >;
        };

        SYM {
            display-name = "Symbols";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp EXCL   &kp AT            &kp HASH        &kp DLLR              &kp PRCNT    &kp CARET  &kp AMPS               &kp ASTRK        &kp PIPE          &kp BACKSLASH  &trans
&trans  &kp TILDE  &kp LEFT_BRACKET  &kp LEFT_BRACE  &kp LEFT_PARENTHESIS  &kp MINUS    &kp EQUAL  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp RBKT          &kp GRAVE      &trans
&trans  &trans     &trans            &trans          &kp LESS_THAN         &kp UNDER    &kp PLUS   &kp GREATER_THAN       &kp LESS_THAN    &kp GREATER_THAN  &kp SLASH      &trans
                                     &trans          &trans                &trans       &trans     &trans                 &trans
            >;
        };

        ADJ {
            display-name = "System";
            bindings = <
&trans  &kp F1        &kp F2        &kp F3            &kp F4      &kp F5            &kp F6          &kp F7          &kp F8        &kp F9           &kp F10      &trans
&trans  &none         &kp K_PREV    &kp K_PLAY_PAUSE  &kp K_NEXT  &studio_unlock    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans       &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2      &bt BT_CLR  &bt BT_CLR_ALL    &trans          &kp F13         &kp F17       &kp F16          &bootloader  &trans
                                    &trans            &trans      &trans            &trans          &trans          &trans
            >;
        };

        EXTRA {
            display-name = "extra";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans       &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans       &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &bootloader  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        l3 {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
